<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases> <!-- 이게 있으면 따로 VO 앞에 패키지 안 붙여도 됨 -->
        <package name="org.scoula.board.domain" />
    </typeAliases>
</configuration>